@tailwind base;
@tailwind components;
@tailwind utilities;

.header-brand {
    height: 250px;
    overflow: hidden;
}

.books {
    width: 80%;
    display: grid;
}

#background {
    height: 200px;
}

#element {
    width: 1230px;
    height: 200px;
}

#couverture {
    width: auto;
    height: 400px;
}