@charset "utf-8";
@import "~bulma";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

/*
 * NAVIGATION
 */

.navigation { 
    padding: 20px 0 20px 0; 
    background-color: $black; 
    color: $white; 

    .level {
        .level-item {
            a {
                color: $white;
            }
        }
    }
}

.featured > .columns {
    cursor: pointer;
}